<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppMain"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SampleApp">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".base_fragment.TestFragmentActivity"/>
        <activity android:name=".lorem_picsum.ui.LoremPicsumDetailActivity"/>
        <activity
            android:name=".lorem_picsum.ui.LoremPicsumListActivity"
            android:theme="@style/Theme.SampleApp.CollapsingToolbar"/>
        <activity android:name=".generics_example.GenericsExampleActivity"/>
        <activity android:name=".inline_func.InlineFuncExampleActivity"/>
        <activity android:name=".crossinline_reified.CrossinlineReifiedExampleActivity"/>
        <activity android:name=".activity_intent.IntentExampleActivity"/>
        <activity android:name=".fragment_arguments.ArgumentsExampleActivity"/>
        <activity android:name=".safe_enum.SafeEnumActivity"/>
        <activity android:name=".intent_large_extra.IntentLargeExtraActivity"/>
        <activity android:name=".binding_adapter_example.BindingAdapterExampleActivity"/>
        <activity android:name=".swipe_finish_example.SwipeFinishExampleActivity"/>
        <activity android:name=".date_format.DateFormatActivity"/>
        <activity android:name=".sorted_with.SortedWithExampleActivity"/>
        <activity android:name=".activity_result.ParentActivity"/>
        <activity android:name=".activity_result.ChildAActivity"/>
        <activity android:name=".grid_layout.GridLayoutListActivity"/>
    </application>

</manifest>